body {
	margin: 0;
}


h1,h2,h3,h4,h5,h6 {
	margin: 0 auto;
}

.container {	
	height: 80px;
	background-color: #008B8B;
}

.nav {
	display: flex;
	font-size: 25px; 
}

.nav__link {
	margin-top: 20px; 
	margin-left: 130px;
	color: #fff;
	text-decoration: none;
}


.intro {
	display: flex;
}

.logo{
	width: 300px;
	height: 200px;
}


.intro__logo {
	margin-top: 50px;
	margin-left: 300px;
	margin-right: 100px;
}

.intro__table {
	margin: 20px;
	font-size: 14px;	
}

.table {
	border-color: #FAEBD7;
	width: 400px;
}

.bottom {
	margin-left: 150px;
	max-width: 80%;
}
 
.text {
	text-align: center;
}